.questionset, .intro-page, .questionset-results {
  overflow: hidden;
}
.questionset.hidden {
  display: none;
}
.questionset .h5p-multichoice > .h5p-show-solution, .questionset .dragndrop > .h5p-show-solution, .h5p-blanks .h5p-button {
  display: none;
}
.questionset, .intro-page, .questionset-results {
  position: relative;
}
.h5p-multichoice > .h5p-question {
  margin: 1em 0.5em 0;
  padding: 0.5em 0.75em;
  box-shadow: 0 0 0.5em #e3e3e3;
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.9);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6FFFFFF,endColorstr=#e6FFFFFF);
  zoom: 1;
}
.dots-container {
  text-align: center;
  line-height: 2em;
}
.progress-dot {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  margin: 0 0.25em;
  cursor: pointer;
  background: #fff;
  border: 0.0625em solid #c7c7c7;
}
.progress-dot:hover {
  box-shadow: 0 0 0.5em #c7c7c7;
}
.progress-dot.answered {
  border: 0.0625em solid #fff;
  background: #bccade;
}
.progress-dot.current {
  width: 1em;
  height: 1em;
  border: 0.0625em solid #fff;
  margin-bottom: -0.125em;
  background: #267ec9;
  background-image: -webkit-linear-gradient(top, #3999ea, #267ec9);
  background-image: -moz-linear-gradient(top, #3999ea, #267ec9);
  background-image: -o-linear-gradient(top, #3999ea, #267ec9);
  background-image: -ms-linear-gradient(top, #3999ea, #267ec9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3999ea', endColorstr='#267ec9',GradientType=0);
}
.intro-page .title {
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
}
.intro-page .introduction {
  font-size: 1.25em;
  margin: 0 1em;
}
.intro-page .buttons {
  margin: 3em auto;
  text-align: center;
}

.qs-footer {
  overflow: hidden;
}

.qs-footer .button, .qs-startbutton, .qs-finishbutton, .questionset-results .button, .video-container > .button {
  display: block;
  line-height: 1.25em;
  padding: 0.25em 1em;
  border-radius: 0.75em;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 0.5em #aebdc9;
  margin: 0.5em;

  background: #267ec9;
  background-image: -webkit-linear-gradient(top, #3999ea, #267ec9);
  background-image: -moz-linear-gradient(top, #3999ea, #267ec9);
  background-image: -o-linear-gradient(top, #3999ea, #267ec9);
  background-image: -ms-linear-gradient(top, #3999ea, #267ec9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3999ea', endColorstr='#267ec9',GradientType=0);
}
.qs-footer .button:hover, .qs-startbutton:hover, .questionset-results .button:hover, .video-container > .button:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: 0 0 0.5em #267ec9;
}
.qs-startbutton {
  display: inline-block;
  font-size: 2.5em;
}
.qs-footer > .prev, .qs-solutionbutton {
  float: left;
}
.qs-footer > .next, .qs-footer > .finish, .qs-finishbutton {
  float: right;
}
.questionset-results .qs-finishbutton {
  display: none;
}
.video-container {
  position: relative;
}
.video-container > video {
  background-color: #000;
}
.video-container > .button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.qs-progress {
  text-align: center;
  line-height: 1.5em;
}

.questionset-results {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6FFFFFF,endColorstr=#E6FFFFFF);
}

.questionset-results .greeting {
  margin: 1em;
}

.questionset-results .score {
  font-size: 1.5em;
  margin: 1em;
}

.questionset-results .resulttext {
  text-align: left;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 1em 3em;
  padding-left: 3em;
  min-height: 3em;
  background-repeat: no-repeat;
  background-position: left center;
}

.questionset-results .resulttext.fail {
  background-image: url(img/mark-fail.png);
}
.questionset-results .resulttext.fail em {
  font-style: normal;
  color: #b9272d;
}

.questionset-results .resulttext.success {
  background-image: url(img/mark-pass.png);
}
.questionset-results .resulttext.success em {
  font-style: normal;
  color: #6aa81b;
}