.questionset {
  width: 535px;
  height: 400px;
  padding: 50px;
  background: transparent url(img/Paper-clean.png);
  position: absolute;
  top: 0;
  left: 0;

  -webkit-transition: top 2s, left 2s, -webkit-transform 2s;
  -moz-transition: top 2s, left 2s, -moz-transform 2s;
  -o-transition: top 2s, left 2s, -o-transform 2s;
  transition: top 2s, left 2s, transform 2s;
}

.questionset.hidden {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 525px;
  left: 100px;
}

.dots-container {
  text-align: center;
}
.progress-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #494949;
  margin: 0 3px;
}
.progress-dot.answered {
  background: #494949;
}
.progress-dot.current {
  box-shadow: 1px 1px 4px #494949;
  margin: -1px 4px 1px 2px;
}
.intro-page {
  /*background-color: rgba(255,255,255,0.9);*/
  /*padding: 10px;*/
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}
.intro-page .title {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}
.intro-page .introduction {
  font-size: 125%;
  margin: 1em 10%;
}
.intro-page .buttons {
  position: absolute;
  top: 200px;
  left: 182px;
  text-align: right;
}

#qs-startbutton {
  border: 4px solid #BABABA;
  border-radius: 10px 10px 10px 10px;
  font-size: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

.qs-footer {
  position: absolute;
  bottom: 50px;
  height: 40px;
  width: 535px;
}
.qs-progress {
  line-height: 40px;
  padding: 0;
}
.qs-footer .button {
  position: absolute;
  top: 0;
}

.qs-footer .button.next {
  right: 0px;
}
.qs-footer .button.finish {
  right: 0px;
}
.qs-footer .button.prev {
  left: 0px;
}

.questionset-results {
  background: rgba(255, 255, 255, 0.75) url(img/Paper-clean.png);

  padding: 10px;
  height: 480px;
  text-align: center;
}

.questionset-results .greeting {
  margin-top: 180px;
}

.questionset-results .score {
  font-size: 25px;
  margin-top: 40px;
}

.questionset-results .resulttext {
  font-size: 20px;
  line-height: 25px;
  margin: 40px 100px;
  padding-left: 60px;
  min-height: 60px;
  background-repeat: no-repeat;
  background-position: left center;
}

.questionset-results .resulttext.fail {
  background-image: url(img/mark-fail.png);
}
.questionset-results .resulttext.fail .em {
  font-style: normal;
  color: #b9272d;
}

.questionset-results .resulttext.success {
  background-image: url(img/mark-pass.png);
}
.questionset-results .resulttext.success .em {
  font-style: normal;
  color: #6aa81b;
}
.questionset-results .buttons {
  position: absolute;
  bottom: 40px;
  right: 25px;
}

button {
  cursor: pointer;
}