<div class="questionset-intro">
  <div class="title"><%= title %></div>
  <div class="introduction"><%= introduction %></div>
  <div class="buttons"><button id="qs-startbutton"><%= startButtonText %></button></div>
</div>